<div class="skin-grid">
  @for(skin of skins; track $index){
  <div class="skin-card">
    <img [src]="skin.image" />
    <h3>{{ skin.name }}</h3>
    <div>
      <span class="skin-rarity" [ngClass]="getRarityClass(skin.rarity)">
        {{ skin.rarity }}
      </span>
    </div>
    <div class="button-container">
      <button class="details-button" [routerLink]="['/details', skin._id]">
        View Details
      </button>
      <button class="edit-button" [routerLink]="['/edit', skin._id]">
        Edit
      </button>
      <button class="delete-button" (click)="deleteSkin(skin._id)">
        Delete
      </button>
    </div>
  </div>
  }
</div>
