.catalog-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.header {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  background: white;
  background-color: transparent;
  text-align: center;
  text-shadow: 0 0 5px #FF1493, 0 0 10px #FF1493, 0 0 20px #FF1493, 0 0 40px #FF1493;
  margin-bottom: 20px;
}

.skin-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 20px;
  padding: 20px;
  
}

.skin-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
  max-width: 300px;
  height: 400px; 
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px;
}

.skin-card h2 {
  text-shadow: 0 0 5px #FF1493, 0 0 10px #FF1493, 0 0 20px #FF1493, 0 0 40px #FF1493;
}

.skin-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

.skin-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
}

.skin-rarity {
  padding: 5px 15px;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: bold;
}

.skin-rarity.common {
  background-color: gray;
  color: #000;
}

.skin-rarity.uncommon {
  background-color: green;
  color: #000;
}

.skin-rarity.rare {
  background-color: blue;
  color: #000;
}

.skin-rarity.epic {
  background-color: purple;
  color: #000;
}

.skin-rarity.legendary {
  background-color: gold;
  color: #000;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;
}

.details-button,
.edit-button,
.delete-button {
  background: linear-gradient(45deg, #1e90ff, #ff1493);
  border: none;
  color: white;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.details-button:hover,
.edit-button:hover,
.delete-button:hover {
  background: linear-gradient(45deg, #ff3f14, #e9ff1e);
  transform: scale(1.1);
}

.details-button:active,
.edit-button:active,
.delete-button:active {
  transform: scale(0.98);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 0.5rem;
}

.pagination button {
  font-family: 'Orbitron', sans-serif;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: #1e1e1e;
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.pagination button:hover {
  background: #007bff;
  transform: scale(1.1);
}

.pagination button:disabled {
  background: #555;
  cursor: not-allowed;
}

.pagination button.active {
  background: #007bff;
  color: white;
  font-weight: bold;
}
