.wishlist-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.wishlist-heading {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  background: white;
  background-color: transparent;
  text-align: center;
  text-shadow: 0 0 5px #FF1493, 0 0 10px #FF1493, 0 0 20px #FF1493, 0 0 40px #FF1493;
  margin-bottom: 20px;
}

.empty-wishlist {
  margin-top: 300px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background: white;
  background-color: transparent;
  text-align: center;
  text-shadow: 0 0 5px #FF1493, 0 0 10px #FF1493, 0 0 20px #FF1493, 0 0 40px #FF1493;
}

.wishlist-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  justify-items: center;
  padding: 20px;
  gap: 20px;
  margin-top: 20px;
}

.wishlist-item {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
  max-width: 300px;
  height: 500px; 
  padding: 15px;
  justify-content: space-between;
  box-sizing: border-box;
}

.wishlist-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.skin-image {
  width: 100%;
  height: 200px;
  object-fit: contain; 
  border-radius: 10px;
}

.skin-name {
  text-shadow: 0 0 5px #FF1493, 0 0 10px #FF1493, 0 0 20px #FF1493, 0 0 40px #FF1493;
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-top: 15px;
}

.description {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 15px;
}

.remove-button {
  background: linear-gradient(45deg, #1e90ff, #ff1493);
  border: none;
  color: white;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  align-self: center;
}

.remove-button:hover {
  background: linear-gradient(45deg, #ff3f14, #e9ff1e);
  transform: scale(1.1);
}

.skin-rarity {
  padding: 5px 15px;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: bold;
}

.skin-rarity.common {
  background-color: gray;
  color: #000;
}

.skin-rarity.uncommon {
  background-color: green;
  color: #000;
}

.skin-rarity.rare {
  background-color: blue;
  color: #000;
}

.skin-rarity.epic {
  background-color: purple;
  color: #000;
}

.skin-rarity.legendary {
  background-color: gold;
  color: #000;
}
