@if(skin){
  <h1>Details</h1>
<div class="details-container">
  <div class="skin-card">
    <img [src]="skin.image" [alt]="skin.name" />
    <h2 class="details-header">{{ skin.name }}</h2>
    <div class="rarity-container">
      <span class="rarity" [ngClass]="getRarityClass(skin.rarity)">
        {{ skin.rarity }}
      </span>
    </div>
    <p>{{ skin.description }}</p>
    <div class="back-btn-container">
      <button (click)="goBackToCatalog()" class="back-btn">Back</button>
      @if(isAuthenticated){
      <div>
        <button (click)="addToWishlist()" class="back-btn">Add to Wishlist</button>
      </div>
      }
    </div>
  </div>
</div>
}
